*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header{
    position: fixed;
    background-color:rgb(231, 231, 213);
    display: inline;
    width: 100vw;
    height: 5rem;
    grid-area: header;
}
.nombre--uppercase{
    text-transform: uppercase;
    text-align: left;
    color: rgb(39, 36, 36);
font-family: 'Times New Roman', Times, serif;
margin-left: 3%;
margin-top: 2%;
}
.nombre{
text-transform: capitalize;
text-align: left;
color: rgb(39, 36, 36);
font-family: 'Times New Roman', Times, serif;
margin-left: 1%;
}

.header__navegador{
    grid-area: nav;
    list-style-type: none;
    text-align: center;
    text-decoration: none; 
    padding: 0;
    margin: 0; 
    background-color: rgb(231, 231, 213);
   
}

.card{
    grid-area: banner;
    background-color: rgb(173, 173, 164) ;
    height: 45vw;
    width: 100vw;
    display: inline-block;
    border-width: medium;
}

.card__image{  
    height: 90%;
    width: 90%;
    display: inline-block;
    margin-left: 5%;
    margin-top: 2%;
    align-content: center;
 }

 .borderRounded{
    display: inline-block;
    font-size: 100%;
    padding: 5px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

 .cards{
     width: 25vw;
     border:rgb(31, 29, 29);
     margin: 2rem;
     border-radius: 5px;
     border-color: black;
     border-width: 2px;
     border-style: solid;
     grid-area: cards;
     display: flexbox;
     align-content: space-between;
    }
 .cards__img {
     width: 100%;
     margin-left: auto;
     margin-right: auto;
     display: block;
     background-color: black;
     grid-area: cards;
 }

 .cards__description__text{
     font-size: small;
     font-family: Arial, Helvetica, sans-serif;
     text-align: justify;
     line-height: 15px;
     grid-area: cards;
 }

 .cards__description__name{
     margin-top: 10px;
     margin-bottom: 5px;
     padding-left: 10px;
     grid-area: cards;
 }
.cardsBtn{
    width: 10px;
    margin: 120px;
    text-align: end;
    text-decoration: none;
    display: inline;
    color: black;
    background-color: darkgrey;
    border-radius: 5px;
    grid-area: cards;
}
 .footer{
     background-color: black;
     color: rgb(192, 192, 185);
     position: absolute;
     width: 100vw;
     grid-area: footer;
 }
 .titulo{
    position: static;
    background-color: beige;
    display: inline;
    width: 100vw;
    height: 10rem;
    grid-area: header;
 }
 .titulo__navegador{
    list-style-type: none;
  text-align: center;
  text-decoration: none; 
  padding: 0;
  margin: 0; 
  background-color: beige;
  grid-area: nav;
 }
 .barra{
    display: inline-block;
    font-size: 20px;
    padding: 5px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
 }
 .tarjetas{
    width: 40vw;
    border:rgb(31, 29, 29);
    margin: 2rem;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    background-color: black;
    display: inline-block;
    grid-area: cards;
 }
 .tarjetas__img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: black;
    grid-area: cards;
 }
 .tajetas__descripcion{
     background-color: beige;
     text-align: center;
     grid-area: cards;
 }
.formulario{
    width: 400px;
    background-color: darkgrey;
    grid-area: formulario;
}
iframe{
    padding: 3rem;
    height: 20vw;
}
.contenedor{
    display: inline-block;
    width: 50rem;
  
}
.contenedor__texto{
    text-align: left;
    line-height: 1/5rem;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
 
}
.contenedor__sidebar{
    display: inline;
    margin: 20px;
    padding: 20px;
    width: 20rem;
    height: 20rem;
    
}
.premios{
    width: 20vw;
    height: auto;
    margin: 5px;
    padding: 10px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.grid-container{
    display: grid;
    grid-template-areas:
    "header nav nav"
    "banner banner banner"
    "cards cards cards"
    "footer footer footer";
}
.gridContenedor{
    display: grid;
    grid-template-areas:
    "header nav nav"
    "formulario formulario formulario"
    "mapa mapa mapa"
    "footer footer footer";
    
}
@media only screen and (max-width: 480px)
  {}.grid-container{
      display: grid;
      grid-template-areas: "header nav"
      "banner banner"
      "cards cards"
      "footer footer";
      grid-template-columns: repeat(2, auto);
      grid-template-rows: 1fr 2fr 3fr 1fr ;

  }
  .header{
    position: fixed;
    background-color:rgb(231, 231, 213);
    display: flex;
    justify-content: left;
    width: 100vw;
    height: 7rem;
    grid-area: header;
}
.header__navegador{
    grid-area: nav;
    list-style-type: none;
    text-align: center;
    text-decoration: none; 
    padding: 0;
    margin: 0; 
    background-color: rgb(231, 231, 213);
   
}
.card{
    grid-area: banner;
    background-color: rgb(173, 173, 164) ;
    height: 45vw;
    width: 100vw;
    display: inline-block;
    border-width: medium;
}