<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LOGIN</h1>
      <br>
      <form action="/login" method="post" role="form" autocomplete="off">

        <input id="username" name='username' placeholder="email" class="form-control" type="email" required>
        <input id="password" name='password' placeholder="password" class="form-control" type="password" required>
        <input  type="submit" value="Login">

      </form>

      <hr>
        <button onclick="location.href = '/register'">Ir a Register</button>

</body>
</html>